<!DOCTYPE HTML5>
    <html>
      {% load static %}
      <head>
        <script src="https://kit.fontawesome.com/c46a5452cb.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/chat.css'%}">
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="spacesheep.co.kr">
        <meta name="twitter:title" content="SPACE-SHEEP">
        <meta name="twitter:description" content="스페이스 채팅에 초대합니다.">
        <meta name="twitter:image" content="{% static 'images/logo.png'%}">
        <meta property="og:title" content="spacesheep">
        <meta property="og:image" content="{% static 'images/logo.png'%}">
        
    </head>
      <body width="100%" height="100%">
        <!-- <dialog id="notice" >
            <article>
              <h3>Confirm your action!</h3>
              <p>
                Mauris non nibh vel nisi sollicitudin malesuada. 
                Donec ut sagittis erat. Praesent eu eros felis. 
                Ut consectetur placerat pulvinar.
              </p>
              <footer>
                <div class="cmd">
                    <a role="button" id="accept" class="close-btn" onClick="toggleModal(event);PopupNoDisplay();" data-target="notice">오늘 하루 보지 않기</a>
                </div>
              </footer>
            </article>
        </dialog> -->
        <div class="chat_window" id="mybackground">
            <i id="t-button" class="fa-solid fa-angles-up"></i>
            <i id="autoscroll-button" class="fa-solid fa-lock-open"></i>
            <nav class="top_menu">
                <ul>
                    <li><a href="/">Home</a></li>
                </ul>
                <ul>
                    <li><h1 style="font-size: large;">{{name}}</h1></li>
                </ul>
                <ul>
                    <li><a href="/ask/{{room_name}}/moment">
                        <i class="fa-solid fa-images"></i>
                    </a></li>
                </ul>
            </nav>
            <ul class="messages"></ul>
            <div class="bottom_wrapper clearfix">
                <div style="display: none;" class="preview">
                    <div class="previewdiv"></div>
                    <button class="delete_photo">
                        <!-- <i class="glyphicon glyphicon-remove" ></i> -->
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <nav class="container-fluid chat-footer">
                    <textarea class="message_input" maxlength="100" ></textarea>
                    <ul class="grid">
                        <label role="button" class="upload_photo">
                            <form id="myform" hidden>
                                <input id="myfile" type="file" accept="img/*" hidden/>
                            </form>
                            <i class="fa fa-camera"></i>
                        </label>
                        
                        <button class="send-message-button">
                            <i class="fa fa-paper-plane"></i>
                        </button>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="message_template">
            <li class="message">
                <div class="text_wrapper">
                    <div class="m_imagediv"></div>
                    <div class="text"></div>
                </div>
                {% if user == room_name %}
                <button class="m_remove">
                    <i class="fa fa-remove"></i>
                </button>
                {% endif %}
            </li>
        </div>
        <div id="context-menu" class="context-menu">
            <li role="list" class="items">
              <li class="option">
                <a href="#" class="option-link" id="save-msg" data-action="addMoment">모먼트에 추가</a>
              </li>
              {% if user == room_name %}
              <li class="option">
                <a href="#" class="option-link" id="block-user" data-action="blockUser">블락</a>
              </li>
              {% endif %}
            </li>
        </div>
      </body>
    </html>

<script src="https://code.jquery.com/jquery-latest.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script> 
<script src="https://unpkg.com/konva@8.3.0/konva.min.js"></script>
<script src="https://unpkg.com/gifler@0.1.0/gifler.min.js"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1046.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-base64@3.7.2/base64.min.js"></script>
<script type="text/javascript">
    var ROOMNAME = "{{room_name|escapejs}}";
    var USER = "{{user|escapejs}}";
    var MAX_WIDTH = 300;
    var MAX_HEIGHT = 300;
    var btncount = 1;

    var ta = document.querySelector(".message_input");
    ta.style.display = 'block';
    autosize(ta);
    var url ="https://sheep-1.s3.ap-northeast-2.amazonaws.com/"+ROOMNAME;

    $("#mybackground").css({"background":`url(${url})`}); 			
    $("#mybackground").css({"background-position": "center"});
    var chatSocket = new WebSocket(
        'ws://'+ window.location.host + '/ask/' + ROOMNAME 
    );
    
    function PopupNoDisplay() { 
        $.cookie("popup", "done", { expires: 1 });
        PopupHide(); 
    }

    function PopupBgDisplay() { 
        cookiedata1 = document.cookie; 
        if (cookiedata1.indexOf("popup=done") > 0) { 
            $('.overlay').toggleClass('open');
        }
    }
    function PopupHide() { //팝업창 지우기 
        $('#popup').hide(); 
        PopupBgDisplay();
    }
    $(document).ready(function () {
        $('.popup').show(); 
        cookiedata = document.cookie; 
        if ( cookiedata.indexOf("popup=done") < 0 ){ //쿠키 변경 여부 불러오기 
            document.all['popup'].style.visibility = "visible"; 
        } else { 
            document.all['popup'].style.display = "none"; 
        } 
        PopupBgDisplay(); 
    });

    chatSocket.onopen = function(e) {
        chatSocket.send(JSON.stringify({
            'command':'fetch_message',
            'message': {
                'top_message':null,
            },
        }));

    }
    
    async function newMessages(messages,top=null){
        if (top===null){
            this.m = messages.reverse();
        }
        else{
            this.m = messages;
        }
        for(var message of this.m){
            await newMessage(message,top);
        }
    }

    async function newMessage(message,top=null){
        // download image and convert into url
        var content = message['content']
        var owner = message['owner']
        var timestamp= message['timestamp']

        var mid = message['mid']
        var message_box;
        var url= null;

        if (content['media']==null) {
            if(content['text']===null || content['text'].trim() === ''){return;}
        }

        message_box = new Message({
            mid: mid,
            image: content["media"],
            text: content['text'],
            user:content['user'],
        });

        if (top === null){
            $('.messages').append(message_box);
            return setTimeout(function () {
                return message_box.addClass('appeared');
            }, 0);
        }
        else {
            // firstchild = $(`.messages #${top}`);
            $('.messages').prepend(message_box);
            // message_box.prependTo(firstchild);
            return setTimeout(function () {
                return message_box.addClass('appeared');
            }, 0);  
        }
    }

    chatSocket.onmessage = function(e) {
        var message = JSON.parse(e.data);
        var command = message['command'];
        var content = message['message'];

        if (command=="readyto_upload"){

            var dec_url = content['url'];
            var fileName = content['fileName'];
            promise = uploadUsingPresignedURL(url=dec_url, filename=fileName);
            promise.then((req)=>{
                sendMediaMessage(fileName);
            });
        }
        else if (command=="delete_message") {
            deleteMessage(content);
        }
        else if (command=="fetch_message"){
            var top_message = message['top_message'];

            newMessages(content,top_message);
            
            if (top_message===null){
                scrollmessage();
            }
            else{
                $messages =$('.messages');
                $messages.animate({scrollTop:0},0.4);
            }
        }
        else{
            newMessages(content);
            scrollmessage();
        }
    };
    var autoscroll =true;

    function scrollmessage(){
        if (autoscroll==true){
            $messages =$('.messages');
            $messages.animate({scrollTop: $messages.prop('scrollHeight')*2},0.3);
        }
    }
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    function Message(arg) {
        this.text = arg.text, this.user = arg.user, this.image=arg.image, this.mid=arg.mid;
        this.message;
        var $message;
        var filename = "";
        var message_side = ROOMNAME === this.user ? 'left':'right';

        $message = $($('.message_template').clone(true).html());
        $message.addClass(message_side);
        $message.attr("id",this.mid);
        $message.attr("data-uid",this.user);
        
        if(this.text!=null){
            $message.find('.text').html( this.text);
            $message.css("font-family","")
        }
        
        if(this.image!=null){
            
            let scaledImg = document.createElement("img");
            scaledImg.setAttribute("src", this.image);
            $message.find(".m_imagediv").prepend(scaledImg);
            
        }
        return $message;
    };

    
    function readMessageText(){
        var $message_input;
        $message_input = $('.message_input');
        message =  $message_input.val().trim();
        message = message.replaceAll(/(\n|\r\n)/g, '<br/>');
        message = removeHTMLTag(message);
        message = autolink(message);

        return message;
    };

    function removeHTMLTag(m){
        var pattern =/<(\/?)(?!\/|br(?!w))([^<|>]+)?>/g;
        var substitute = "&lt;$1$2&gt;";
        return m.replaceAll(pattern,substitute);
    }

    function autolink(m) {
        var regURL = new RegExp("(http|https|ftp|telnet|news|irc)://([-/.a-zA-Z0-9_~#%$?&=:200-377()]+)","gi");
        var regEmail = new RegExp("([xA1-xFEa-z0-9_-]+@[xA1-xFEa-z0-9-]+\.[a-z0-9-]+)","gi");
        return m.replace(regURL,"<a href='$1://$2' target='_blank'>$1://$2</a>").replace(regEmail,"<a href='mailto:$1'>$1</a>");
    }

    $('.delete_photo').click(async function (e) {
        $('form').get(0).reset();
        is_file= false;
        remove_preview();
    });

    function deleteMessage(data){
        // mid == message id
        var mid = data['mid'];
        $(`#${mid}`).remove();
    }

    $("ul.messages").on("click", "button[class='m_remove']", function (e) {
        $this_message = $(this).closest('li.message');
        var mid = $this_message.attr('id');
        // $this_message.remove();
        chatSocket.send(JSON.stringify({
            'command':'delete_message',
            'message': {
                // 'room':ROOMNAME,
                'mid':mid
            },
        }));
    });

    async function uploadUsingPresignedURL(url,filename){
        this.file = $('#myfile')[0].files[0];
        
        fm = file.name.split('.');
        if (fm[1]!=='gif'){
            this.media = await processFile(file);
        }
        else{
            this.media = this.file;
        }
        // reset_input();
        return await fetch(url,{
            method:'PUT',
            body:this.media
        });
    }

    function sendMediaMessage(filename){ 
        sendChatMessage(filename);
    }

    function reset_input(){
        $("#myform").get(0).reset();
        // $('#myfile')[0].select();
        ta.value='';
        autosize.update(ta);
    }

    function request_presigned_url(filename,method){
        fname = filename.split('.')[0];
        chatSocket.send(JSON.stringify({
            'command':'presigned_url',
            'message':{
                'method':method,
                'media':`${fname}.webp`
            },
        }));
    }

    $('.send-message-button').click(async function (e) {
        var file =$('#myfile')[0].files[0];

        if (file){
            var s3_fileName = new Date().getTime()+file.name;
            request_presigned_url(filename=s3_fileName,method='put_object')
        }
        else{
            sendChatMessage();
        }
        remove_preview();
    });

    $('#autoscroll-button').click( async function (e) {
        autoscroll = !autoscroll;
        $(this).toggleClass("fa-lock-open");
        $(this).toggleClass("fa-lock");
    });
    
    async function sendChatMessage(mediafile=null){
        var timestamp = + new Date();
        var text = readMessageText();
        
        var message = {
            // 'room': ROOMNAME,
            'user': USER,
            'text': text,
            'media': mediafile,
            'timestamp': String(timestamp)
        };

        chatSocket.send(JSON.stringify({
            'command':'new_message',
            'message':message,
        }));
        reset_input();
    }

    $('.message_input').keyup(function (e) {
        autosize.update(ta);
        if (e.which === 13) {
            if (!e.shiftKey){
                $('.send-message-button').click();
            }
        }
    });

    function remove_preview(){
        $(".previewdiv img").remove();
        $(".preview").css("display","none");
    }

    var is_file = false;

    $('#myfile').on('change',function(e){
        var fileReader = new FileReader();
        if (is_file){
            remove_preview();
            is_file=false;
        }
        is_file=true;
        var f = e.target.files[0];
        
        $(".preview").show();
        $(".previewdiv").append("<img />");
        
        fileReader.onload = function(e) {
            $(".previewdiv img").attr('src', e.target.result);
        };
        fileReader.readAsDataURL(f);
    });

    async function processFile(file) {

        return new Promise(function(resolve,reject){
            // Load the data into an image
            let rawImage = new Image();
            this.webpurl =null;
            // convert raw Image into webp format && resizing 
            let canvas = document.createElement('canvas');
            let ctx = canvas.getContext("2d");

            rawImage.onload = function () {
                if (rawImage.src){
                    var width = rawImage.width;
                    var height = rawImage.height;

                    if (width > height) {
                        if (width > MAX_WIDTH) {
                            height *= MAX_WIDTH / width;
                            width = MAX_WIDTH;
                        }
                    } else {
                        if (height > MAX_HEIGHT) {
                            width *= MAX_HEIGHT / height;
                            height = MAX_HEIGHT;
                        }
                    }
                    canvas.width = width;
                    canvas.height = height;
                    
                    ctx.drawImage(rawImage, 0, 0, width, height);
                    canvas.toBlob(function(blob){
                        resolve(blob);
                    },"image/webp");
                }
            };

            rawImage.src = URL.createObjectURL(file);
            rawImage.crossOrigin = 'Anonymous';
            
        })
    }

    $("#toggle").click(function() {
        $(this).toggleClass("active");
        $('#overlay').toggleClass('open');
        $('form').get(0).reset();
    });
    
    var btn = $('#t-button');
    btn.on('click', function(e) {
        e.preventDefault();
        mid = $('.messages li:nth-child(1)').attr('id')
        btncount +=1;
        chatSocket.send(JSON.stringify({
            'command':'fetch_message',
            'message': {
                'top_message':mid,
            },
        }));
    });
    
    $("#accept").click(function(){
        $("#popup").addClass('close');
    });
    

    function clickInsideElement( e, className ) {
        var el = e.srcElement || e.target;

        if ( el.classList.contains(className) ) {
            return el;
        } else {
            while ( el = el.parentNode ) {
            if ( el.classList && el.classList.contains(className) ) {
                return el;
            }
            }
        }

        return false;
    }
    function getPosition(e) {
        var posx = 0;
        var posy = 0;

        if (!e) var e = window.event;
        
        if (e.pageX || e.pageY) {
        posx = e.pageX;
        posy = e.pageY;
        } else if (e.clientX || e.clientY) {
        posx = e.clientX + document.body.scrollLeft + document.documentElement.scrollLeft;
        posy = e.clientY + document.body.scrollTop + document.documentElement.scrollTop;
        }

        return {
        x: posx,
        y: posy
        }
    }

    var contextMenuClassName = "context-menu";
    var contextMenuItemClassName = "option";
    var contextMenuLinkClassName = "option-link";
    var contextMenuActive = "context-menu--active";

    var taskItemClassName = "text_wrapper";
    var taskItemInContext;

    var clickCoords;
    var clickCoordsX;
    var clickCoordsY;

    var menu = document.querySelector("#context-menu");
    var menuItems = menu.querySelectorAll(".option");
    var menuState = 0;
    var menuWidth;
    var menuHeight;
    var menuPosition;
    var menuPositionX;
    var menuPositionY;

    var windowWidth;
    var windowHeight;
    var selectedItem;

    document.addEventListener("contextmenu", function(e) {
        selectedItem = e.target.closest('.message');
        // console.log(selectedItem);
        taskItemInContext = clickInsideElement( e, taskItemClassName );

        if ( taskItemInContext ) {
            e.preventDefault();
            toggleMenuOn();
            positionMenu(e);
        } else {
            taskItemInContext = null;
            toggleMenuOff();
        }
    });

    document.addEventListener( "click", function(e) {
        var clickeElIsLink = clickInsideElement( e, contextMenuLinkClassName );

        if ( clickeElIsLink ) {
            e.preventDefault();
            if (selectedItem){
                
                menuItemListener(clickeElIsLink, selectedItem);
            }
            selectedItem = null;
        } else {
            var button = e.which || e.button;
            if ( button === 1 ) {
                toggleMenuOff();
            }
        }
    });
    window.onkeyup = function(e) {
        if ( e.keyCode === 27 ) {
            toggleMenuOff();
        }
    }
    window.onresize = function(e) {
        toggleMenuOff();
    };

    function toggleMenuOn() {
        if ( menuState !== 1 ) {
            menuState = 1;
            menu.classList.add( contextMenuActive );
        }
        }

    function toggleMenuOff() {
        if ( menuState !== 0 ) {
            menuState = 0;
            menu.classList.remove( contextMenuActive );
        }
    }

    function positionMenu(e) {
        clickCoords = getPosition(e);
        clickCoordsX = clickCoords.x;
        clickCoordsY = clickCoords.y;

        menuWidth = menu.offsetWidth + 4;
        menuHeight = menu.offsetHeight + 4;

        windowWidth = window.innerWidth;
        windowHeight = window.innerHeight;

        if ( (windowWidth - clickCoordsX) < menuWidth ) {
            menu.style.left = windowWidth - menuWidth + "px";
        } else {
            menu.style.left = clickCoordsX + "px";
        }

        if ( (windowHeight - clickCoordsY) < menuHeight ) {
            menu.style.top = windowHeight - menuHeight + "px";
        } else {
            menu.style.top = clickCoordsY + "px";
        }
    }

    function menuItemListener(link,selected) {
        // console.log(selected);
        var action = link.getAttribute("data-action");
        if (action=="blockUser"){
            chatSocket.send(JSON.stringify({
                'command':action,
                'message': {
                    'user':selected.getAttribute("data-uid"),
                },
            }));
        } else if (action=="addMoment") {
            chatSocket.send(JSON.stringify({
                'command':action,
                'message': {
                    'mid':selected.getAttribute("id")
                },
            }));
        }
        toggleMenuOff();
    }
</script>
