<!DOCTYPE HTML5>
    <html>
      {% load static %}
      <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/chat.css'%}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      </head>
      <body width="100%" height="100%">
        <div class="chat_window" id="mybackground">
            <a id="t-button"></a>
            <div class="top_menu"> 
                <div class="title">
                    <h1>{{name}}</h1>
                    {% if user == room_name %}
                    <div class="menu-btn">
                        <div class="btn_container" id="toggle">   <!-- 버튼 만들기 위한 큰 틀  버튼 활성화를 위한 토글 -->
                            <span class="top"></span>         <!-- 햄버거의 맨 위 막대기 -->
                            <span class="middle"></span>    <!-- 햄버거의 가운데 막대기 -->
                            <span class="bottom"></span>    <!-- 햄버거의 맨 아래 막대기 -->
                        </div>
                        <div class="overlay" id="overlay">
                            <nav class="overlay-menu">
                                <ul>
                                    <h2>스쉽꾸미기</h2>
                                    <form id="update-form" method="post" enctype="multipart/form-data" role="form" style="display: block;">
                                        {% csrf_token %}
                                        <li> 
                                            채팅방 이름
                                            <input class="room-info" id ="rname" name="rname">
                                        </li>
                                        <li>
                                            채팅방 배경
                                            <input class="room-info" id="bg-file" type="file" accept="img/*" name="bg-file">
                                        </li>
                                        <input id="user-setting" type="submit" value="확인">
                                        <!-- <input id="horang" type="submit" value="🐯"> -->
                                    </form>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- <div class="msg-area"> -->
            <ul class="messages"></ul>
            <!-- </div> -->
            <div class="bottom_wrapper clearfix">
                <div style="display: none;" class="preview">
                    <div class="previewdiv"></div>
                    <button class="delete_photo">
                        <i class="glyphicon glyphicon-remove" ></i>
                    </button>
                </div>
                <div class="chat-footer">
                    <textarea class="message_input" maxlength="100" ></textarea>
                    <label class="upload_photo">
                        <form id="myform" hidden>
                            <input id="myfile" type="file" accept="img/*" hidden/>
                        </form>
                        <i class="fa fa-paperclip"></i>
                    </label>
                    <button type="button" class="send-message-button btn-info"> <i class="fa fa-send"></i>
                </div>
            </div>
        </div>
        <div class="message_template">
            <li class="message">
                <div class="text_wrapper">
                    <div class="m_imagediv"></div>
                    <div class="text"></div>
                </div>
                {% if user == room_name %}
                <button class="m_remove">
                    <i class="glyphicon glyphicon-remove" ></i>
                </button>
                {% endif %}
            </li>
        </div>
      </body>
    </html>

<script src="https://code.jquery.com/jquery-latest.js"></script> 
<script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script> 
<script src="https://unpkg.com/konva@8.3.0/konva.min.js"></script>
<script src="https://unpkg.com/gifler@0.1.0/gifler.min.js"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1046.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-base64@3.7.2/base64.min.js"></script>

<script type="text/javascript">
    var ROOMNAME = "{{room_name|escapejs}}";
    var USER = "{{user|escapejs}}";
    var message_side = 'right';
    var MAX_WIDTH = 300;
    var MAX_HEIGHT = 300;
    var btncount = 1;

    var ta = document.querySelector(".message_input");
    ta.style.display = 'block';
    autosize(ta);
    var url ="https://sheep-1.s3.ap-northeast-2.amazonaws.com/"+ROOMNAME;

    $("#mybackground").css({"background":`url(${url})`}); 			
    $("#mybackground").css({"background-position": "center"});
    var chatSocket = new WebSocket(
        'ws://'+ window.location.host + '/home/' + 'ask/' + ROOMNAME 
    );


    chatSocket.onopen = function(e) {
        chatSocket.send(JSON.stringify({
            'command':'fetch_message',
            'message': {
                'top_message':null,
            },
        }));

    }
    
    async function newMessages(messages,top=null){
        if (top===null){
            this.m = messages.reverse();
        }
        else{
            this.m = messages;
        }
        for(var message of this.m){
            await newMessage(message,top);
        }
    }

    async function newMessage(message,top=null){
        // download image and convert into url
        var content = message['content']
        var mid = message['mid']
        var message_box;
        
        var message_side = ROOMNAME === content['user'] ? 'left':'right';
        var url= null;

        if (content['media']==null) {
            if(content['text']===null || content['text'].trim() === ''){return;}
        }

        message_box = new Message({
            mid: mid,
            image: content["media"],
            text: content['text'],
            message_side: message_side,
        });

        if (top === null){
            $('.messages').append(message_box);
            return setTimeout(function () {
                return message_box.addClass('appeared');
            }, 0);
        }
        else{
            // firstchild = $(`.messages #${top}`);
            $('.messages').prepend(message_box);
            // message_box.prependTo(firstchild);
            return setTimeout(function () {
                return message_box.addClass('appeared');
            }, 0);  
        }
    }

    $("ul.messages").on("click", "button[class='m_share']", function (e) {
        $this_message = $(this).closest('li.message');
        var text = $this_message.attr('text');
    });

    chatSocket.onmessage = function(e) {
        var message = JSON.parse(e.data);
        var command = message['command'];
        var content = message['message'];

        if (command=="readyto_upload"){

            var dec_url = content['url'];
            var fileName = content['fileName'];

            promise = uploadUsingPresignedURL(url=dec_url,filename=fileName);
            promise.then((req)=>{
                sendMediaMessage(fileName);
            });
        }
        else if (command=="delete_message") {
            deleteMessage(content);
        }
        else if (command=="fetch_message"){
            var top_message = message['top_message'];

            newMessages(content,top_message);
            
            if (top_message===null){
                scrollmessage();
            }
            else{
                $messages =$('.messages');
                $messages.animate({scrollTop:0},0.4);
            }
        }
        else{
            newMessages(content);
            scrollmessage();
        }
    };
    var isPressed =false;
    
    $('messages').bind("touchmove",function(e){
        isPressed=true;
    })
    
    $('messages').bind('mousedown', function(e) {
        isPressed = true;
        doInterval('-1');
    });

    function scrollmessage(){
        if (isPressed==false){
            $messages =$('.messages');
            $messages.animate({scrollTop: $messages.prop('scrollHeight')*2},0.3);
        }
    }
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    function Message(arg) {
        this.text = arg.text, this.message_side = arg.message_side, this.image=arg.image, this.mid=arg.mid;
        this.message;
        var $message;
        var filename = "";
        $message = $($('.message_template').clone(true).html());
        $message.addClass(this.message_side);
        $message.attr("id",this.mid);
        
        if(this.text!=null){
            $message.find('.text').html( this.text);
            $message.css("font-family","")
        }
        
        if(this.image!=null){
            
            let scaledImg = new Image();
            let imageLink = document.createElement("a");
            
            imageLink.setAttribute("href", this.image);
            imageLink.setAttribute('download', `${this.mid}.webp`);

            scaledImg.onload = function () {
                imageLink.appendChild(scaledImg);
                $message.find(".m_imagediv").prepend(imageLink);
            };
            
            scaledImg.setAttribute("src", this.image);
            
            $message.prepend(imageLink);
            
        }
        return $message;
    };

    
    function readMessageText(){
        var $message_input;
        $message_input = $('.message_input');
        message =  $message_input.val().trim();
        message = message.replaceAll(/(\n|\r\n)/g, '<br/>');
        message = removeHTMLTag(message);
        message = autolink(message);

        return message;
    };

    function removeHTMLTag(m){
        var pattern =/<(\/?)(?!\/|br(?!w))([^<|>]+)?>/g;
        var substitute = "&lt;$1$2&gt;";
        return m.replaceAll(pattern,substitute);
    }

    function autolink(m) {
        var regURL = new RegExp("(http|https|ftp|telnet|news|irc)://([-/.a-zA-Z0-9_~#%$?&=:200-377()]+)","gi");
        var regEmail = new RegExp("([xA1-xFEa-z0-9_-]+@[xA1-xFEa-z0-9-]+\.[a-z0-9-]+)","gi");
        return m.replace(regURL,"<a href='$1://$2' target='_blank'>$1://$2</a>").replace(regEmail,"<a href='mailto:$1'>$1</a>");
    }



    $('.delete_photo').click(async function (e) {
        $('form').get(0).reset();
        is_file= false;
        remove_preview();
    });

    function deleteMessage(data){
        // mid == message id
        var mid = data['mid'];
        $(`#${mid}`).remove();
    }

    $("ul.messages").on("click", "button[class='m_remove']", function (e) {
        $this_message = $(this).closest('li.message');
        var mid = $this_message.attr('id');
        // $this_message.remove();
        chatSocket.send(JSON.stringify({
            'command':'delete_message',
            'message': {
                'room':ROOMNAME,
                'mid':mid
            },
        }));
    });

    async function uploadUsingPresignedURL(url,filename){
        this.file = $('#myfile')[0].files[0];
        
        fm = file.name.split('.');
        if (fm[1]!=='gif'){
            this.media = await processFile(file);
        }
        else{
            this.media = this.file;
        }
        // reset_input();
        return await fetch(url,{
            method:'PUT',
            body:this.media
        });
    }

    function sendMediaMessage(filename){ 
        sendChatMessage(filename);
    }

    function reset_input(){
        $("#myform").get(0).reset();
        // $('#myfile')[0].select();
        ta.value='';
        autosize.update(ta);
    }

    function request_presigned_url(filename,method){
        fname = filename.split('.')[0];
        chatSocket.send(JSON.stringify({
            'command':'presigned_url',
            'message':{
                'method':method,
                'media':`${fname}.webp`
            },
        }));
    }

    $('.send-message-button').click(async function (e) {
        var file =$('#myfile')[0].files[0];

        if (file){
            var s3_fileName = new Date().getTime()+file.name;
            request_presigned_url(filename=s3_fileName,method='put_object')
        }
        else{
            sendChatMessage();
        }
        remove_preview();
    });

    async function sendChatMessage(mediafile=null){
        var timestamp = + new Date();
        var text = readMessageText();
        
        var message = {
            'room': ROOMNAME,
            'user': USER,
            'text': text,
            'media': mediafile,
            'timestamp': String(timestamp)
        };

        chatSocket.send(JSON.stringify({
            'command':'new_message',
            'message':message,
        }));
        reset_input();
    }

    // $('.message_input').keyup(function (e) {
    //     autosize.update(ta);
    //     if (e.which === 13) {
    //         if (!event.shiftKey){
    //             $('.send-message-button').click();
    //         }
    //     }
    // });

    function remove_preview(){
        $(".previewdiv img").remove();
        $(".preview").css("display","none");
    }

    var is_file = false;

    $('#myfile').on('change',function(e){
        var fileReader = new FileReader();
        if (is_file){
            remove_preview();
            is_file=false;
        }
        is_file=true;
        var f = e.target.files[0];
        
        $(".preview").show();
        $(".previewdiv").append("<img />");
        
        fileReader.onload = function(e) {
            $(".previewdiv img").attr('src', e.target.result);
        };
        fileReader.readAsDataURL(f);
    });

    async function processFile(file) {

        return new Promise(function(resolve,reject){
            // Load the data into an image
            let rawImage = new Image();
            this.webpurl =null;
            // convert raw Image into webp format && resizing 
            let canvas = document.createElement('canvas');
            let ctx = canvas.getContext("2d");

            rawImage.onload = function () {
                if (rawImage.src){
                    var width = rawImage.width;
                    var height = rawImage.height;

                    if (width > height) {
                        if (width > MAX_WIDTH) {
                            height *= MAX_WIDTH / width;
                            width = MAX_WIDTH;
                        }
                    } else {
                        if (height > MAX_HEIGHT) {
                            width *= MAX_HEIGHT / height;
                            height = MAX_HEIGHT;
                        }
                    }
                    canvas.width = width;
                    canvas.height = height;
                    
                    ctx.drawImage(rawImage, 0, 0, width, height);
                    canvas.toBlob(function(blob){
                        resolve(blob);
                    },"image/webp");
                }
            };

            rawImage.src = URL.createObjectURL(file);
            rawImage.crossOrigin = 'Anonymous';
            
        })
    }

    $("#toggle").click(function() {
        $(this).toggleClass("active");
        $('#overlay').toggleClass('open');
        $('form').get(0).reset();
    });
    
    var btn = $('#t-button');
    $('.messages').scroll(function() {
        if ($('.messages').scrollTop() < 100) {
            btn.addClass('show');
        } else {
            btn.removeClass('show');
        }
    });
    
    // $messages.animate({scrollTop: $messages.prop('scrollHeight')*2});
    btn.on('click', function(e) {
        e.preventDefault();
        mid = $('.messages li:nth-child(1)').attr('id')
        btncount +=1;
        chatSocket.send(JSON.stringify({
            'command':'fetch_message',
            'message': {
                'top_message':mid,
            },
        }));
    });

</script>
