<DOCTYPE HTML5>
    {% load static %}
    <html>
      <head>
        <link rel="stylesheet" href="{% static 'css/login.css'%}">
      </head>
      <body width="100%" height="100%">
        <form method="post" class="loginForm">
            {% csrf_token %}
            <h2>Login</h2>
            <div class="idForm">
                <input type="text" name="userid" placeholder="ID" required>
            </div>
            <div class="passForm">
                <input type="password" name="userpw" placeholder="PW" required>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <div class="{{message.tags}}">
                        {{ message.message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{request.GET.next}}">
            {% endif %}
            <button type=submit class="btn">
                LOG IN
            </button>
        </form>
        {% load socialaccount %}
        {% providers_media_js %}
        <div class="flex flex-col w-full">
            <!-- receiving from django-allauth -->    
            <a href="{% provider_login_url "twitter" %}" class="btn">
                <i class="fab fa-twitter mr-2"></i> 트위터로 계속하기
            </a>
        </div>
        <div class="flex flex-col w-full">
            <!-- receiving from django-allauth -->    
            <a href="{% provider_login_url "google" %}" class="btn">
                <i class="fab fa-google mr-2"></i> 구글로 계속하기
            </a>
        </div>
        <div class="bottomText">
            Don't you have ID? <a style="text-decoration: none;" href="../signup/">sign up</a>
        </div>
      </body>
    </html>