<DOCTYPE HTML5>
    <html>
        {% load static %}
        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
        </head>
        <body width="100%" height="100%">
            <main class="container">
                <article class="grid">
                    <hgroup>
                        <h1>SpaceSheep의 개인정보 수집 및 처리방침 안내</h1>
                        <p>스페이스쉽은 이용자분들을 사이버불링, 불법 음란물 등으로부터 보호하기 위한 최소한의
                            조치로서 IP, 대화 내용을 수집 및 보관합니다.
                        </p>
                        <h3>1. 개인정보의 수집·이용목적</h3>
                            악성 이용자 차단, 신고</br>
                        <h3>2. 수집하려는 개인정보의 항목</h3>
                            접속 IP, 사이트 내 전송된 텍스트 및 파일 </br>
                        <h3>3. 개인정보의 보유 및 이용기간</h3>
                            1년</br>
                        <h3>동의를 거부할 수 있으며, 동의 거부시 스페이스쉽을 이용할 수 없습니다.</h3>
                    </hgroup>
                </article>
            </main>
        </body>
    </html>
</DOCTYPE>