<!DOCTYPE HTML5>
    <html>
      {% load static %}
      <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="spacesheep.co.kr">
        <meta name="twitter:title" content="SPACE-SHEEP">
        <meta name="twitter:description" content="스페이스 채팅에 초대합니다.">
        <meta name="twitter:image" content="{% static 'images/logo.png'%}">
        <meta property="og:title" content="spacesheep">
        <meta property="og:image" content="{% static 'images/logo.png'%}">
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/login.css'%}">
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
        
    </head>
      <body width="100%" height="100%">
        <form id="register-form" action="../signup" method="post" role="form">
            <main class="main">
                <article>
                    <nav class="header-nav">
                        <ul>
                            <h2>Register</h2>
                        </ul>
                    </nav>
                    <section>
                        {% csrf_token %}
                        <label for="email">
                            <input type="email" name="userid" id="email" placeholder="Email Address">
                        </label>
                        <input type="password" name="password1" id="password" placeholder="Password">
                        <input type="password" name="password2" id="confirm-password" placeholder="Confirm Password">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="col-1 {{message.tags}}">
                                    <small>{{ message.message }}</small>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <label for="terms">
                            <p>온라인 범죄 예방 목적을 위한 정보 수집(채팅방 내 텍스트, 미디어)에 동의합니다.</p>
                            <input type="checkbox" role="switch" id="terms" name="terms" required>
                        </label>
                        <footer>
                            <button type="submit" action="../signup" id="login-submit" class="outline">create account</button>
                            {% load socialaccount %}
                            {% providers_media_js %}
                            {% csrf_token %}
                            <a href="{% provider_login_url 'google' %}">Google 로그인</a><br>
                        </footer>  
                    </section>
                </article>
            </main>
        </form>
      </body>
	</html>