@font-face {
  font-family: 'KyoboHand';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family:'KyoboHand',"Calibri", "Roboto", sans-serif;
}

/* .bg-image {
  background-image: url("../images/space-bg.png");
  background-color: #cccccc;
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} */

.col-0, .col-1, .col-3{
  margin: auto;
  text-align: center;
}
.col-0 {width: 30%;}
.col-1 {width: 50%;}
.col-3 {width: 40%;}


@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .col-1, .col-3 {
    width: 100%;
  }
  .col-0{
    width: 70%;
  }
}


.form-group{
  margin: auto;
  text-align: center;
}  
.logo-image{
  margin: auto;
  text-align: center;
}
.container .panel-heading {
  background-color: none;
}
  
.panel-heading a{
  text-decoration: none;
  color: grey;
  font-weight:normal;
  font-size: 20px;
}

.panel-heading .login,.panel-heading .register{
  margin: auto;
  text-align: center;
}

.bg-image {
  width: 100%;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: fit-content;
}

.panel-heading a.active{
color: black;
font-weight: bold;
font-size: 35px;
}

.container .panel-body{
  margin-top: 50px;
}

.btn {
  color: black;
  width: 100%;
  background-color: #fff8dc;
  font-size: 20px;
  display: block;
  border: 1px;
  outline: none;
  border-radius: 15px;
  padding: 10;
  margin-bottom: 5;
}

.form-group input{
  font-family:'KyoboHand',"Calibri", "Roboto", sans-serif;
  position: relative;
  font-size: 20px;
  overflow: hidden;
  margin: auto;
  text-align: left;
  /* font-size: large; */
  overflow-wrap: break-word;
  outline-style:solid;
  outline-color: #ffe6cb;
  outline-width: 1px;
  border: 1px solid #fff8dc;
  padding: 10px 15px 10px 15px;
}

.form-group input[type="email"]{
  margin-top: 50;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.form-group input[type="password"] {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.form-group input[type="submit"]{
  text-align: center;
  margin-top: 20;
}
.form-group input:hover,
.form-group input:focus {
  outline-width: 3px;
}

.footer {
  position: fixed; 
  bottom: 0; 
  width: 100%;
  margin: auto;
  text-align: center;
}